.intro
	margin 0 auto
	padding 4rem 0 0 0

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center

	&__dek
		max-width 25rem
		margin 0 auto
		margin-top 1rem
		text-align center

	.byGroup
		display flex
		align-items: baseline;
		margin 2rem 0 4rem 0
		svg
			display block
			margin auto
			stroke $primary


	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('small')

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('small')
		text-transform uppercase

	.disclaimer-title
		set-type-size('small')
		font-weight bold
		background-color: $primary
		padding 0.5rem 1rem
		display inline-block
		margin-top 2rem
		line-height 1
		svg
			width 15px
			height 15px
			transform translateY(2px)
			stroke $white
			stroke-width 2px
	.disclaimer-body
		set-type-size('small')
		background-color $bg-light
		padding 0.5rem 1rem
		margin-top 0
