#letters
  .section__figure
    display flex
    flex-wrap wrap
  .chart
    margin 0.75rem 1rem
    max-width 310px

    &__container
      .letter-details
        display flex
        align-items: baseline;
        .left-container, .right-container
          min-width 110px
        .left-container
          display flex
          justify-content: flex-end;
        .left-bar, .right-bar
          height 10px
          background-color: $primary
          border-radius 3px
        .letter
          margin 0 1rem
          line-height 1.2
          font-family $sans-display
          font-weight bold
          set-type-size('root')
          width 12px
          text-align: center;

    .meta__container
      margin-bottom 1rem
      .letters-title
        font-family $sans-display
        text-align: center;
        margin-bottom 0.5rem
        border-bottom 1px solid $primary
        font-weight: bold
    .letters-legend
      &-scale
        display flex
        .legend-left, .legend-right
          min-width 110px
          display flex
          justify-content: space-between;
          span
            set-type-size('x-small')
            color rgba($white, 0.7)

        .legend-left
          flex-direction row-reverse

        .legend-space
          min-width 12px
          margin 0 1rem
      .legend-labels
        display flex
        flex-direction row
        justify-content: space-between;
        p
          set-type-size('small')
          width 100px
          margin 0
        .letters-legend-society
          text-align right
  .figure-note
    set-type-size('small')
    color rgba($white, 0.7)
    margin 0.5rem 1rem
