#popular
  max-width $largeFigWidth
  .section__figure-group
    display flex
    flex-direction column
    align-items center
    +mq('bp-6')
      flex-direction row
  .section__figure-popularSpark
    min-width 250px
    margin-top 0
    .chart__sub, .chart__title
      padding-left 60px


    .g-bar
      display flex
      flex-direction row
      align-items: baseline;
      .spark-bar
        height 10px
        background-color: $primary
        margin 0 0.5rem
        border-radius 3px
      p
        margin 0
      .spark-name
        width 60px
        set-type-size('root')
        font-weight bold
        text-align: right
        font-family $sans-display
      .spark-count
        set-type-size('small')
        font-family $sans-display

  .section__figure-popular
    padding 0 1rem
    position relative
    &.is-truncated
      height 430px
      overflow: hidden
    .gradient
      position absolute
      width 100%
      height 3rem
      background linear-gradient(rgba($bg, 0), $bg)
      bottom 0
      visibility hidden
      pointer-events none
      &.is-visible
        visibility visible
    input
      outline none;
      border none;
      background-color $primary
      set-type-size('large')
      font-family $sans-display
      font-weight bold
      color $bg !important
      width 150px
      margin-top 0.25rem
      &::placeholder
        color $bg-light
    .ui__search-row
      display flex
      p
        margin 0 0.5rem
        set-type-size('small')
        text-transform: uppercase;
    .playlist-item
      padding 0 0 1rem 0
      margin 0.5rem 0
      border-bottom 1px solid rgba($white, 0.2)
      &:last-child
        border-bottom none
      .pop-lyrics
        font-family $sans-display
        font-weight 700
        margin 0.5rem 0
        span
          color $primary
          //border-bottom 3px solid $primary
      .pop-meta
        display flex
        flex-direction row
        justify-content: space-between;
        p
          font-family $sans-display
          text-transform uppercase
          set-type-size('small')
          margin 0

.toggle-table
  text-align: center
  margin-top 1rem
.show-more
  padding 0.5rem
  font-family $sans-display
  border-radius 5px
  border 1px solid $white
  background-color $bg
  color $white
  width 160px
  height 45px
  margin 0 auto
  display none
  &.is-visible
    display block
