#popular
  .section__figure-group
    display flex
  .section__figure-popularSpark
    .g-bar
      display flex
      flex-direction row
      align-items: baseline;
      .spark-bar
        height 10px
        background-color: $primary
        margin 0 0.5rem
        border-radius 3px
      p
        margin 0
      .spark-name
        width 60px
        set-type-size('root')
        font-weight bold
        text-align: right
        font-family $sans-display
      .spark-count
        set-type-size('small')
        font-family $sans-display
