.sidebar
  width $sidebar-width
  background-color $bg-light
  flex 0 0 auto
  &__content
    position sticky
    left 0
    top 0
    width $sidebar-width
    padding 1rem

    svg
      max-width 150px
      fill $white

  &-title
    set-type-size('x-large')
    text-transform uppercase
    font-weight: 200;
    font-family $sans-display
    padding-left 0.5rem

  &-prose
    font-family $sans-display
    set-type-size('small')
    margin 1rem 0

  &__section
    border-bottom 1px solid rgba($white, 0.2)
    padding 0.5rem
    max-height 45px
    overflow hidden
    background-color transparent
    transition 300ms ease-in-out
    cursor: pointer;
    &:hover
      max-height 200px
      background-color rgba($white, 0.1)
      transition 300ms ease-in-out
    &-title
      margin-top 0.25rem
      set-type-size('root')
      font-weight bold
    &-prose
      font-family $sans-display
      set-type-size('small')
      margin 0.25rem 0

  &__nonPeople-button
    display flex
    align-items: center
    button
      padding 0.5rem
      font-family $sans-display
      border-radius 5px
      border 1px solid $white
      background-color $bg-light
      width 160px
      height 45px

    span
      padding 0 0.5rem
      border-radius 2px
    [role="switch"][aria-checked="true"] :first-child,
    [role="switch"][aria-checked="false"] :last-child
    	background $bg-light
    	color $fg

    [role="switch"][aria-checked="false"] :first-child,
    [role="switch"][aria-checked="true"] :last-child
    	background $fg
    	color $bg
