/* CUSTOM STORY STYLE */
#content
  display block
  +mq('bp-6')
    display flex

  article
    max-width $column-width
    padding 0 1rem
    margin 0 auto
    overflow hidden
    +mq('bp-6')
      margin-left 2rem

.playlist__song
  padding 0 0 1rem 0
  display flex
  flex-direction row
  align-items: center;
  margin 0.5rem 0
  border-bottom 1px solid rgba($white, 0.2)
  &:last-child
    border-bottom none
  +mq('bp-4')
    padding 0 1rem 1rem 1rem

  .playlist__info
    display flex
    flex-direction column
    width 100%

    .playlist-lyrics
      font-family $sans-display
      font-weight 700
      margin 0.5rem 0
      span
        color $primary

    .playlist__info-credits
      display flex
      flex-direction row
      justify-content: space-between;
      width 100%
      p
        font-family $sans-display
        text-transform uppercase
        set-type-size('small')
        margin 0

.playlist-button
  margin 0 0.5rem
  +mq('bp-4')
    margin 0 2rem
  button
    width 30px
    height 30px
    background-color $primary
    padding 0.5rem
    border-radius 50%
    transition background-color 300ms ease-in-out
    &:disabled, &[disabled]
      background-color $bg-light
      transition background-color 300ms ease-in-out
      svg
        stroke $bg
        fill $bg
        transition 300ms ease-in-out
  svg
    width 15px
    height 15px
    display block
    margin auto
    stroke $white
    fill $white
    transition 300ms ease-in-out


.section__info
  margin-top 3rem
  padding 3rem 0
  border-top 2px solid lighten($primary, 10)
  &-title
    set-type-size('xx-large')
    font-weight bold
    font-family $sans-display
    margin 0
  &-dek
    margin 0.25rem 0
    set-type-size('small')
    color rgba($white, 0.7)
  &-playlistDet
    display flex
    align-items: baseline;
    p
      set-type-size('small')
      margin 0.5rem 0
      color rgba($white, 0.7)

    .sep
      margin 0 0.25rem
  .playlist-button
    background-color $primary
    padding 0.25rem 0.75rem
    border-radius 20px
    border-bottom 0px
    set-type-size('small')
    font-weight bold
    color $bg
    margin 0

figure
  margin-top 2rem
  .chart__title
    font-family $sans-display
    set-type-size('large')
    font-weight bold
    margin 0
  .chart__sub
    font-family $sans-display
    set-type-size('small')
    text-transform uppercase
    color rgba($white, 0.7)
    margin 0 0 0.5rem 0
  .chart__note
    set-type-size('x-small')
    color rgba($white, 0.7)
    margin 0.5rem 0 0 0

.methods
  padding 3rem 1rem
  border-top 2px solid lighten($primary, 10)
  margin-top 4rem
  &-title
   font-family $sans-display
   set-type-size('large')
   font-weight bold
  &-prose
    set-type-size('small')
    code
      font-family monospace
      background-color $bg-light
      padding 0 0.25rem
