#timeless
  .section__figure
    position relative
    &-meta
      padding 0 1rem
    &-chart
      display flex
      align-items: flex-end;
      padding 0 0.5rem
      overflow-x: auto
  .chart
    min-width 85px
    margin 0.75rem 0.5rem

    &-count
      align-self: flex-start;
      min-width 20px
      font-weight bold
      text-align: right;
      color $primary

    &__container
      display flex
      flex-direction column

    .timelessName
      padding 0.5rem
      set-type-size('root')
      margin 0
      background-color none
      border-radius 5px
      //color $white
      transition 300ms ease-in-out

      &.highlight
        background-color $primary
        color $bg
        border-radius 5px
        transition 300ms ease-in-out

    .timeless-decade
      set-type-size('root')
      font-weight bold
      margin-top 0.5rem
      border-top 1px solid $primary
      padding 0.25rem 0.5rem
