#unique
  .section__figure
    display flex
    align-items: flex-end;
    height 575px
  .chart, .chart__search
    min-width 100px
    margin 0.75rem 0.5rem

    .uniqueName
      margin 0
      set-type-size('small')
      line-height 1.1

    .text-container
      height 100px
      margin-top 0.5rem
      border-top 1px solid $primary

      .unique-title
        set-type-size('root')
        font-family $sans-display
        font-weight bold
        margin-top 0.25rem

      .unique-artist
        set-type-size('small')
        font-family $sans-display
        text-transform: uppercase
        margin 0

  .chart__search
    display flex
    flex-direction column-reverse
    order 6
    .chart__container
      order 0

    .text-container
      height 123px
      .unique-artist
        display none
        &.is-visible
          display block
      .ui__search
        input
          outline none;
          border none;
          background-color $primary
          set-type-size('root')
          font-family $sans-display
          font-weight bold
          color $bg
          width 100px


        .search__result
          cursor pointer
          display none;
          &.is-visible
            display block

          li
            set-type-size('small')
            font-weight 400
            margin 0
            padding 0.25rem 0.5rem
            &:hover
              background-color $bg-light
