<div class='playlist__song'>
  <div class='playlist-button'>
    <button class='play' role="switch" aria-checked="false" aria-labelledby="play-song">
      <img inline src='play.svg'>
    </button>
  </div>
  <div class='playlist__info'>
    <p class='playlist-lyrics'>{{lyrics}}</p>
    <div class='playlist__info-credits'>
      <p>{{title}}</p>
      <p>{{artist}}</p>
      <p>{{year}}</p>
    </div>
  </div>
</div>
